body {
    font-family: $f_body;
}

.row {
    width: 100%;
}

.row-small {
    max-width: 680px;
}

@media screen and (max-width: 768px) {
    .column:not([class*="small"]) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.panel-layout {
    width: 100%;

    //.row{ max-width: 960px !important; margin: 0 auto; }
}

img.aligncenter {
    display: block;
    margin: 0 auto;
}

img.alignnone {
    width: 100%;
}

.wp-block-embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    .wp-block-embed__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}


.disabled {
    opacity: 0.5;
}

hr {
    border-width: 3px;
    border-color: $c_secondary;

    &.small {
        width: 80%;
        margin: 0 auto;
    }
}


@media (min-width: 576px) {

    .forced-grid {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .forced-grid {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .row,
    .forced-grid {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .row,
    .forced-grid {
        max-width: 1266px;
    }
}

@media (min-width: 1400px) {

    .row,
    .forced-grid {
        max-width: 1366px;
    }
}

.forced-grid {
    width: 100%;
}

div.more {
    width: 100%;
    padding-top: 3px;
    border-top: 1px solid #979797;
    text-align: right;

    a {
        opacity: 0.5;
        color: #231F20;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
        text-align: right;
        text-transform: uppercase;
        transition: all .2s ease-in-out;

        &:hover {
            opacity: 1;
            transition: all .2s ease-in-out;
        }
    }
}

.main-title {
    margin-bottom: 40px;
}

body.archive.post-type-archive-article {
    padding-top: 0;
}

body:not(.home) {
    padding-top: 60px;
    position: relative;
    overflow-x: hidden;

    &::after {
        position: absolute;
        background: rgba(252, 175, 23, 0.1);
        border-radius: 50%;
        z-index: 1;
            
        @include large {
            content: "";
            width: 831px;
            height: 831px;
            top: 1000px;
            left: -626px;
        }
    }
    &::before {
        position: absolute;
        background: rgba(133, 189, 100, 0.1);
        border-radius: 50%;
        z-index: 1;

        @include large {
            content: "";
            width: 831px;
            height: 831px;
            top: 250px;
            right: -626px;
        }
    }
}

body {
    background: #f5f5f5;

    #app {
        margin-top: 79px;
    }
}

.quotes-slider button.previous,
.quotes-slider button.next {
    cursor: pointer;
}

/* Multimedia */
.single-multimedia {

    .wp-block-embed-youtube {

        @media screen and (min-width: 1299px) {
            margin: 30px -225px 30px !important;
            padding: 40% 225px 40% !important;
            max-width: 1100px;
        }

    }
}

/* Block Pullquote */
.wp-block-pullquote.is-style-solid-color {
    max-width: 100%;
    blockquote {
        p {
            font-family: $f_title;
        }
    }
}

/* Block Cover */
.wp-block-cover {
    margin-bottom: 30px;
}

.content-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    opacity: 0.5;
    font-family: $f_body;
    color: #231F20;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;

    .posts-quantity {
        .actual-number, .total {
            
        }
    }

    .filter-options {
        display: flex;

        select {
            font-weight: bold;
            background-color: transparent;
            border: none;
            font-size: 14px;
            width: auto;
            height: auto;
            margin-bottom: 0;

            &:after {
                @include triangle('bottom', 5px, 5px, #231F20);
            }
        }

        

        
    }
    
}