h2,
h3,
h4,
h5,
h6,
p {
    font-family: $f_body;
}

h1 {
    font-family: $f_title;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 18px;
}