$f_body: 'Roboto', sans-serif;
$f_title: 'Bebas Neue', cursive;;

$c_white: #ffffff;
$c_gray: #f5f5f5;
$c_gray__darker: #222222;

$c_primary: #1AA29A;
$c_secondary: #E9783D;

$dir_assets : '/wp-content/themes/ods/assets/';