.archive, .search {
    .posts-list {
        &.list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;

            @include tablet {
                grid-template-columns: auto;
            }
        }

        .card {
            .span-author {
                display: block;
                font-size: 14px;
                color: #333;
                margin-top: 15px;

                a[rel="modal:open"] {
                    color: $c_primary;
                    font-weight: bold;
                    cursor: pointer;
                }

                .author-avatar {
                    width: 34px;
                    margin-right: 5px;
                    border-radius: 50%;
                }
            }

            .date {
                display: inline;
            }

            &--excerpt {
                margin-top: 15px;
            }

        }
    }
    .modal {

        max-width: 881px;

        &--header {
            .featured-image {
                width: 171px;

                img {
                    width: 171px;
                    border-radius: 50%;
                    border: 2px solid #FFFFFF;
                    background-color: #FFFFFF;
                }
            }

            .introduction {
                span {
                    opacity: 0.5;
                    color: #231F20;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 23px;
                }
            }
        }



        .modal--content {
            display: grid;
            grid-template-columns: 171px auto;
            grid-gap: 30px;
            width: 100%;
            padding: 0 30px 40px 30px;

            .contact {
                color: #231F20;
                font-family: $f_title;
                text-transform: uppercase;
                font-size: 30px;
                letter-spacing: 0;
                line-height: 36px;
                text-align: right;
            }

            .icons {
                display: flex;

                a {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(133, 189, 100, 0.5);
                    color: #333333;
                    margin-right: 30px;
                    border-radius: 50%;
                    transition: all .2s ease-in;

                    &:hover {
                        transition: all .2s ease-in;
                        background-color: #333;
                        color: white;
                    }
                }
            }
        }

        &.modal-author {
            .modal--wrapper {
                &::before,
                &::after {
                    display: none;
                }
            }
            @include tablet {
            
                .introduction {
                    .modal--header-title {
                            margin-top: 50px;
                    }
                    
                    span {
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                }
                .modal--content {
                    display: block;

                    .spacer {
                        display: none;
                    }

                    .author-description {
                        display: block;
                        width: 100%;
                    }

                    .icons {
                        justify-content: center;
                        padding-top: 30px;

                        a {
                            margin: 0 15px;
                        }
                    }
                    
                }

            }
            
        }

    }

}