.author{
    &--info{
        display: flex;
        margin: 20px 0 30px 0;
        padding: 0;
        
        img{
            border-radius: 7px;
            margin-right: 10px;
        }
    }

}
.tax-autor {

    .title-button {
        border: 0;
    }

    .author-box {
        background-color: #ffffff;
        @include border-radius(30px);
        left: 15px;
        margin: 20px 0 60px;
        padding: 30px;
        position: relative;
        width: calc(100% - 15px);
        
        .author-avatar {
            img {
                border-radius: 50%;
                border: 2px solid #FFFFFF;
                position: relative;
                top: -64px;
                width: 171px;
            }
        }

        h3 {
            font-weight: bold;
            font-size: 50px;
            letter-spacing: 0;
            line-height: 60px;
            font-family: "Bebas Neue",
            cursive;
            text-align: left;
        }

        .author-area {
            color: #231F20;
            display: block;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 23px;
            opacity: 0.5;
            padding: 5px 0 30px;
            text-align: left;
        }

        .author-social {
            display: inline-block;
            margin-top: 30px;
            overflow: hidden;
            width: 100%;

            h4 {
                color: #231F20;
                font-family: "Bebas Neue",
                cursive;
                font-size: 30px;
                letter-spacing: 0;
                line-height: 36px;
                text-align: right;
                text-transform: uppercase;
                @include tablet {
                    text-align: left;
                }
            }
            .icons {
                display: flex;
                a {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(133, 189, 100, 0.5);
                    color: #333333;
                    margin-right: 30px;
                    border-radius: 50%;
                    transition: all 0.2s ease-in;
                    &:hover {
                        transition: all 0.2s ease-in;
                        background-color: #333;
                        color: white;
                    }
                }
            }

        }

    }
}