.single {
    #single-the-title {
        .categories {
            display: flex;
            justify-content: center;
            color: #E9783D;
            margin-bottom: 30px;

            a {
                font-weight: 900;
                color: #E9783D;
            }
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    #single-the-excerpt {
        margin-bottom: 30px;

        p {
            color: #231F20;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 24px;
        }
    }

    .post-info {
        display: flex;
        justify-content: center;
        color: #333333;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        margin-bottom: 60px;

        .author {
            margin-right: 10px;

            a {
                font-weight: bold;
                color: #0B87A2;
            }
        }
    }

    #single-post-thumbnail {
        text-align: right;
        margin-bottom: 41px;

        img {
            margin-bottom: 10px;
        }

        .thumbnail-caption {
            opacity: 0.5;
            color: #333333;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 16px;
        }
    }

    #single-post-content {
        color: #333333;
        font-size: 18px;
        letter-spacing: 0;

        a {
            font-weight: bold;
            color: #243D80;
        }
        
        p {
            line-height: 32px;
            margin-bottom: 2rem;
        }
        
        h2, h3, h4, h5, h6 {
            font-family: $f_title;
        }
    }

    .post-content--tags {
        a {
            font-weight: bold;
            color: #0B87A2;
        }
    }

    .related-posts {
        margin-top: 116px;
        border-top: 1px solid #979797;
        padding-top: 32px;

        .post-content {
            &--related-posts {
                display: grid;
                grid-template-columns: auto;
                grid-column-gap: 30px;

                @include tablet-portrait-up {
                    grid-template-columns: repeat(2, 1fr);
                }
                
                @include tablet-landscape-up {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            &--section-title {
                font-family: $f_title;
                margin-bottom: 37px;
                font-size: 22px;
            }
        }
        
    }
}