.search {
    h1 {
        margin-bottom: 30px;
    }

    .advanced-search {
        .input-search {
            display: flex;
            margin-bottom: 29px;

            input {
                width: calc(100% - 120px);
                border: 1px solid #979797;
                border-radius: 30px 0 0 30px;
                background: none;
                height: 53px;
                padding-left: 20px;
                margin-bottom: 0;
            }

            button {
                color: white;
                width: 120px;
                border-radius: 0 26px 26px 0;
                background-color: #333333;
                cursor: pointer;
            }
        }

        .custom-filters {
            margin-bottom: 0;

            &--title {
                opacity: 0.5;
                color: #231F20;
                font-family: $f_title;
                font-size: 22px;
                letter-spacing: 0;
                line-height: 27px;
                margin-bottom: 12px;
            }

            &--filters {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-column-gap: 30px;

                @include tablet {
                    grid-template-columns: auto;
                }

                .filter {
                    label {
                        color: #231F20;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 16px;
                        padding-bottom: 13px;
                    }

                    input {
                        height: 41px;
                        border: 1px solid #979797;
                        border-radius: 20px;
                        background: none;
                        color: rgba(35, 31, 32, 0.5);
                        padding: 0 15px;
                        &[name="daterange"] {
                            cursor: pointer;
                            &::placeholder {
                                color: #231f20;
                            }
                        }
                    }

                    select {
                        padding: 0 30px 0 15px;
                        background-color: transparent;
                        border-radius: 30px;
                        color: rgba(35, 31, 32, 0.5);
                        cursor: pointer;
                        height: 41px;
                        border: 1px solid #979797;
                    }
                }
            }
        } // .custom-filters 

        .custom-sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-family: Roboto,
            sans-serif;
            color: #231f20;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 16px;

            .quantity {
                opacity: .5;
                &.no-results {
                    opacity: 1;
                    color: #231F20;
                    font-family: "Bebas Neue", cursive;
                    font-size: 22px;
                    letter-spacing: 0;
                    line-height: 27px;
                    margin-bottom: 12px;
                }
            }
            
            .filter {
                display: flex;

                select {
                   font-weight: 700;
                   background-color: transparent;
                   border: none;
                   font-size: 14px;
                   width: auto;
                   height: 28px;
                }
            }
        } // .custom-sort 

    }

    .posts-list.horizontal {
        clear: both;
    }

}