.button {
    border-radius: 5px;
    border: 2px solid $c_primary;
    background-color: $c_primary;
    font-weight: 900;
    padding: 6px 15px;
    font-size: 15px;

    &,
    &:focus,
    &:active,
    &:hover {
        color: white;
    }

    &.white {
        background-color: #fff;
        border-color: white;
        color: $c_secondary;
    }

    &.border-white {
        border-color: white;
    }

    &.outline {
        background-color: transparent;
    }

    &.block {
        display: block;
        width: 100%;
    }

    &.small {
        padding: 4px 15px;
        font-size: 13px;
        line-height: 13px;
    }

    &.dark {
        color: white;
    }
}

.ow-button-base {
    a {
        font-family: 'Source Sans Pro';
        color: red;
        font-weight: bold;
        font-size: 13px;
    }
}

.button-outline {
    cursor: pointer;
    color: #333333;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 15px 32px;
    font-weight: bold;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(136.41deg, #E9783D 0%, #98375B 24.33%, $c_primary 50.68%, #85BD64 73.65%, #FCAF17 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    text-decoration: none;
    display: inline-block;
    transition: all .2s ease-in-out;

    &:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.05);
    }

    @include large {
        padding: 15px 52px;
    }
}


.button-solid {
    padding: 15px 32px;
    font-weight: bold;
    border-radius: 30px;
    background: linear-gradient(136.41deg, #E9783D 0%, #98375B 24.33%, $c_primary 50.68%, #85BD64 73.65%, #FCAF17 100%);
    color: white;

    transition: all .2s ease-in-out;
    display: inline-block;

    &:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.05);
    }

    @include large {
        padding: 15px 52px;
    }
}