.posts-list,
.posts-list-no-filterable {
    // This style is inherited by its children (@extend)
    .featured-category-style {
        .categories-list--category {
            display: inline-block;

            a, span {    
                padding: 5px 10px;
                background-color: $c_primary;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
            }
        }
    }


    // guaraci cards
    &.list, &.block, &.horizontal,  &.horizontal-meia{
        .card  {
            padding-top: 0;

            &--content {
                .categories-list {
                    padding-bottom: 10px;
                    padding-top: 5px;
                    &--category {
                        a, span {    
                            color: #333333;
                            opacity: 0.5;
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 17px;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
                .separator {
                    color: #333333;
                    padding-left: 5px;
                    padding-right: 5px;
                    opacity: 0.5;
                }
                .date {
                    color: #333333;
                    opacity: 0.5;
                }

            }

            &--title {
                color: #333333;
                font-family: $f_body;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 25px;

                @include small {
                    margin-bottom: 18px;
                }
                
            }      
        }

        
    }
 

    &.horizontal,  &.horizontal-meia{
        .card{
            display: grid;
            &--title {
                margin-top: 10px;
            }
    
            @include tablet {
                flex-flow: column;
            }
    
    
            .card--image{
                @include tablet{
                    max-width: 100%;
                }
                &-wrapper{
                    padding-top: 56.25%;
                    position: relative;
                    flex: unset;                        
                    height: 0;
                    width: 100%;
                    overflow: hidden;
                }
            }

            .card--content{
                padding-left: 25px;
                
                @include tablet {
                    padding-left: 20px;
                }
                
                @include small {
                    padding-left: 15px;
                }

                .categories-list--category{
                    margin-top:0;
                }
                .card--title{
                    margin-top: 0;
                    margin-bottom: 12px;
                }
                .card--excerpt {
                    @include small {
                        display: none;
                    }
                }
            }
        }
        &-meia{
            .card{
                display: grid;
                grid-template-columns: 50% auto;
                margin-bottom: 15px;

                @include tablet {
                    grid-template-columns: unset;
                }

                .card--image{
                    &-wrapper{
                        padding-top: 56.25%;
                        position: relative;
                        flex: unset;                        
                        height: 0;
                        width: 100%;
                        
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.horizontal {
        .card{
            grid-template-columns: 37.5% auto;
            margin-bottom: 30px;

            &.filterable-card {
                width: 100%;
            }

            .card--image-wrapper  {
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0; 
                    width: 100%;
                    height: 100%;
                }
            }

            &.small-image-card {
                .card--image-wrapper  {
                    max-height: 110px;
                    min-height: 110px;
                    
                    img {
                        min-height: 110px;
                    }

                }
            }

            &--image-wrapper {
                
                img {
                    min-height: inherit;
                    max-height: inherit;
                    object-fit: cover;
                }
            }
        }
    }

    &.featured, &.list{
        .card{
            .card--title {
                margin-top: 7px;
                // margin-bottom: 20px;
            }
            .card--image-wrapper{
                width: 100%;
                overflow: hidden;
                display: block;
            }
    
            .card--image{
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &.featured {
        .card  {
            padding-top: 0;

            &.destaque-principal {
                .card--image-wrapper {
                    position: relative;
                    padding-top: 56.25%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
                }

                .card--title {
                    font-size: 31px;
                }

            }

            &.destaque-secundario {
                .card--image-wrapper {
                    position: relative;
                    padding-top: 56.25%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }

                .card--title {
                    margin-bottom: 15px;
                    font-size: 18px;
                    line-height: 25px;
                }
            }

         

            &--content {
                .categories-list {
                    height: 0px;
                    
                    &--category {
                        position: relative;
                        top: -44px;
                        left: 20px;
                        display: inline-block;

                        a, span {    
                            padding: 5px 10px;
                            background-color: $c_primary;
                            color: #FFFFFF;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 17px;
                            text-transform: uppercase;
                        }
                    }
                }

            }

            &--title {
                margin-top: 17px;
                color: #000000;
                font-size: 22px;
                font-weight: bold;
                line-height: 41px;
                margin-bottom: 22px;
            }

            &--excerpt {
                color: #000000;
                font-size: 16px;
                line-height: 22px;
            }

            
        }
    }

    &.list {
        .card {
            margin-bottom: 30px;
            
            &--title {
                margin-bottom: 12px;
            }

            &.small-image-card {
                .card--image-wrapper  {
                    max-height: 110px;
                    min-height: 110px;
                    
                    img {
                        min-height: 110px;
                    }

                }
            }

            .card--image{
                    @include mobile{
                        max-width: 100%;
                    }

                    &-wrapper{
                        flex: 0 0 37.5%;
                        margin-right:.625rem;
                        position: relative;
                        padding-top: 56.25%;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }

                        &.unique-image-card {
                            // min-height: 236px;
                            // max-height: 236px;

                            img {
                                // min-height: inherit;
                            }
                        }

                        @include mobile{
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }  
        }
    }

    &.featured-overlap {
        .card {
            &--image-wrapper {
                height: 237px;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                position: relative;
                margin-bottom: 20px;
                background-repeat: no-repeat;
                background-size: cover;

                &:after{
                    content: "";
                    width: 100%;
                    height: 237px;
                    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000000 100%);
                    position: absolute;
                }

                .categories-list {
                    padding: 0px 30px;
                    z-index: 1;
                    margin-bottom: 17px;
                    @extend .featured-category-style;
                }

                .card--title {
                    padding-left: 30px;
                    padding-right: 30px;                    
                    padding-bottom: 21px;
                    z-index: 1;

                    a {
                        color: white;
                    }
                }
            }
        }
    }


    &.full-width {
        background: black;

        @include tablet {
            .row .column {
                padding: 0px;
            }
        }

        .card {
            @include tablet {
                padding: 0px;
            }

            &--image-wrapper {
                min-height: 429px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                position: relative;
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                padding: 50px 0px;

                @include tablet {
                    background-size: cover;
                    background-position: center;
                    padding: 0px 35px;
                }

                &:after{
                    content: "";
                    min-width: 100%;
                    min-height: 429px;
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(270deg, rgba(2, 2, 2, 0) 30%, #000000 55%);
                    left: 0;
                    top: 0;
                    
                    @include tablet {
                        width: 100%;
                        left: 0;
                        min-height: 236px;
                        bottom: 0;
                        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000000 100%);
                    }
                }

                .categories-list {
                    z-index: 1;
                    margin-bottom: 17px;
                    @extend .featured-category-style;
                    
                    @include tablet {
                        text-align: center;
                        margin-top: 60px;
                    }
                }

                .card--title {
                    padding-bottom: 21px;
                    z-index: 1;
                    max-width: 40%;
                    
                    @include tablet {
                        text-align: center;
                        max-width: unset;
                    }

                    a {
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 55px;
                        color: white;
                    }
                }

                .card-excerpt {                    
                    color: white;
                    font-size: 16px;
                    line-height: 22px;
                    max-width: 30%;
                    z-index: 1;

                    @include tablet {
                        text-align: center;
                        max-width: unset;
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }

    // WARNING! This style will be applied to every single card!
    .card {
        overflow: hidden;
        padding: 0 0;
        background: none;
        border: none;
        // animation: .3s linear zoomIn 1;

        // @include mobile{
        //     padding: 0 15px;
        // }

        .date {
            font-size: 14px;
            opacity: 0.5;
            color: #333333;
            letter-spacing: 0;
            line-height: 16px;
            margin-bottom: 25px;
            display: inline-block;
            @include small {
                margin-bottom: 15px;
            }

        }
    
        .categories-list--category{
            display:inline-block;
            margin-top:0;
        }

        a{
            color: black;
        }

        &--info-wrapper{
            flex: 1;
            padding-left: 30px;
        }


        &--image{
            width: 100%;
        }

        &--title {
            margin-bottom: 7px;
            color: black;
            font-family: $f_body;
            font-size: 28px;
            font-weight: bold;
            line-height: 30px;
        }


        &--excerpt {
            font-family: $f_body;
            
            p {
                color: #231F20;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 24px;
                margin-bottom: 0;
            }
        }

        &--date,
        &--category {
            color: #888888;
            font-size: 13px;
            line-height: 16px;
        }

        &--category{
            font-weight: bold;
            &::after{ content: ', ' }
            &:last-of-type:after{ display: none }
        }

        .image-container {
            width: 311px;
            height: 173px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            @include tablet {
                width: 100%;
                height: initial;
            }
        }   
    }   
}

/* Zooming entrances */
@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
