.estrategia {
    @include mobile {
        &.row {
            margin: 0;
        }
    }
    .modal {
        &--content {
            .goals, .status, .links {
                display: grid;
                grid-template-columns: 170px auto;
                grid-gap: 30px;
                width: 100%;
                margin-top: 60px;
                padding: 0 29px;

                @include tablet {
                    grid-template-columns: auto;
                }
    
                &--title {
                    text-transform: uppercase;
                    color: #231F20;
                    font-family: $f_title;
                    font-size: 30px;
                    letter-spacing: 0;
                    line-height: 36px;
                    text-align: right;

                    @include tablet {
                        text-align: center;
                    }
                }
            }
    
            .goals, .status {
                &--content {
                    column-count: 2;

                    @include tablet {
                        column-count: 1;
                    }
    
                    > * {
                        color: #231F20;
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 23px;
                    }
                }
            }
    
            .what{
                padding-left: 229px;
                padding-right: 29px;

                @include tablet {
                    padding-left: 29px;
                }
            }
    
            .goals {
                background-color: rgba(245,245,245,0.8);
                padding-top: 53px;
                padding-bottom: 53px;

                @include tablet {
                    padding-top: 33px;
                    padding-bottom: 33px;
                    margin-top: 30px;
                }
            }
    
            .links {
                p {
                    margin-bottom: 0.5rem;
                }
    
                a {
                    color: #243D80;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }

    section.estrategia-ods {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.625rem;

        @include tablet-portrait-up {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 0.625rem;
        }

        @include tablet-landscape-up {
            grid-gap: 30px;
        }

        .estrategia {
            img {
                display: block;
                margin: 0 auto;
            }
        }

        button {
            cursor: pointer;
        }

    }
}