
.widget_full-header-title:nth-child(1) {
    margin-top: -60px; 
}

.full-header-title {
    @include cover(center);
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
    h1 {
        color: $c_white;
        font-family: $f_title;
    }
    .subtitle {
        color: $c_white;
        font-weight: bold;
    }
    &-wrap {
        width: 75%;
        margin: auto;
    }
}