input[type=text],input[type=password],input[type=email],input[type=number]{
    border-radius: 5px;
    box-shadow: none;
}

.input-outline{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    
    &:active, &:focus{
        background-color: rgba(255, 255, 255, 0.4);
        color: $c_gray;
    }
}

// Contact Form 7 Plugin
.wpcf7-form {
    label {
        color: #231F20;
        font-family: "Bebas Neue", cursive;
        font-size: 22px;
        letter-spacing: 0;
        line-height: 27px;
        margin-bottom: 12px;

        input,
        textarea {
            border-radius: 5px;
            font-family: "Roboto", sans-serif;
        }
    }

    .wpcf7-submit {
        cursor: pointer;
        color: #333333;
        margin: auto;
        border: 2px solid transparent;
        border-radius: 50px;
        padding: 15px 30px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: bold;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            linear-gradient(136.41deg, #E9783D 0%, #98375B 24.33%, #1AA29A 50.68%, #85BD64 73.65%, #FCAF17 100%);
        background-origin: border-box;
        background-clip: content-box,
            border-box;
        box-shadow: 2px 1000px 1px #fff inset;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all 0.2s ease-in-out;
    }
}