.inforative-area {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    .image {
        &:before {
            content: "";
            width: 575px;
            height: 575px;
            position: absolute;
            top: -290px;
            left: 0;
            background: white;
            border-radius: 50%;
            z-index: -1;

            @include tablet {
                left: -100px;
                top: -250px;
            }

            @include large {
                width: 831px;
                height: 831px;
                top: -490.5px;
            }

        }

        img {

            @include tablet {
                display: block;
                margin: 30px auto;
                margin-bottom: 90px;
            }
        }
    }

    .content {
        color: #231F20;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 25px;

        

        h4 {
            font-size: 22px;
            color: #231F20;
            line-height: 25px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
    }

    .list {
        margin-top: 60px;
        position: relative;

        &:after {
            content: "";
            width: 575px;
            height: 575px;
            position: absolute;
            bottom: -221px;
            right: -442px;
            background: rgba(133,189,100,0.1);
            border-radius: 50%;
            z-index: -1;


            // @include tablet {
            //     left: -100px;
            //     top: -250px;
            // }

            @include large {
                width: 831px;
                height: 831px;
                bottom: -490.5px;
                right: -626px;
            }
        }
    }
}