$c_green: #00704b;

.newsletter {
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 35px 0;
    margin-bottom: 30px;

    @include tablet {
        margin-left: .625rem;
        margin-right: .625rem;
    }


    &-header {
        width: 75%;
        margin: auto;
        margin-bottom: 30px;

        @include small {
            width: calc(100% - 40px);
        }

        .title {
            font-family: $f_title;
            color: #231F20;
            font-size: 30px;
            letter-spacing: 0;
            line-height: 36px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 50px;
                color: #333333;
                padding-right: 30px;
            }
        }

        .subtitle {
            color: #231F20;
            font-family: Roboto;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
            text-align: center;

        }
    }

    .form-wrapper {
        width: 75%;
        margin: auto;

        @include small {
            width: calc(100% - 40px);
        }

        form {
            position: relative;
            p {
                margin-bottom: 0;
            }
            .description-mailchimp {
                color: #231F20;
                cursor: default;
                display: block;
                font-family: Roboto;
                font-size: 14px;
                opacity: 0.5;
                text-align: center;
                padding: 15px 15px 0 15px;
            }
            .wpcf7-not-valid-tip {
                text-align: center;
            }
            .wpcf7-response-output {
                border-radius: 50px;
                font-size: 14px;
                margin-left: 0;
                margin-right: 0;
                padding: 15px;
                text-align: center;
            }
        }

        input[type="email"] {
            margin: auto;
            border: 3px solid transparent;
            border-radius: 50px;
            padding: 15px 90px 15px 11px ;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(20, 120, 203, 1) 0%, rgba(239, 109, 37, 1) 60%);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 2px 1000px 1px #fff inset;            
            display: inline-block;
            color: #231F20;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 16px;
            height: 54px;
            
            &::placeholder {
                opacity: 0.5;
                color: #1B1918;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 20px;
            }

        }

        button[type=submit] {
            border-radius: 0 26px 26px 0;
            background-color: #333333;
            color: white;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 16px;
            text-align: center;
            height: 54px;
            border: none;
            padding: 0 26px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
            transition: all 0.2s ease-in-out;

            i {
                display: none;
            }

            &:hover {
                opacity: 0.9;
            }

            @include large {
                padding: 0 31px;
            }
        }
    }

    // Shared with footer
    &--error,
    &--thanks {
        border-radius: 5px;
        display: none;
        font-size: 0.9em;
        margin: 7.5px 0;
        padding: 10px;
        width: 100%;
    }

    &--error {
        background-color: lighten($c_primary, 50%);
        color: $c_primary;
    }

    &--thanks {
        background-color: lighten($c_green, 70%);
        color: $c_green;
    }

    .wpcf7-not-valid-tip {
        opacity: 0.8;
        font-size: 14px;
        margin-top: 9px;
    }
}


footer.main-footer {
    .newsletter {
        padding-top: 0;

        @include small {
            margin: 0;
        }

        &-header {
            width: 100%;
            margin-bottom: 25px;

            .title {
                display: none;
            }
            
            .subtitle {
                @include tablet-portrait-up {
                    text-align: left;
                }
            }
        }

        .form-wrapper {
            width: 100%;

            @include small {
                margin-left: auto;
                margin-right: auto;
                width: 75%;
            }

            input {
                padding: 15px 63px 15px 11px;
            }

            .description-mailchimp {
                display: none;
            }

            button[type=submit] {
                padding: 0 26px 0 20px;

                i {
                    display: block;
                }

                span {
                    display: none;
                }
            }
        }
    }
}