.our-social-media  {
    h2 {
        color: #231F20;
        font-family: $f_title;
        font-size: 50px;
        letter-spacing: 0;
        line-height: 60px;
    }
    
    .content {
        color: #231F20;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 25px;
    }

    .icons {
        display: grid;
        justify-content: center;
        margin-top: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;

        @include tablet-portrait-up {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 25px;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85px;
            width: 85px;
            color: white;
            font-size: 26px;
            border-radius: 50%;
            margin-right: 60px;

            &:nth-child(3) {
                margin-right: 0;
            }

            @include tablet-portrait-up {
                font-size: 28px;
                height: 90px;
                margin-right: 0;
                width: 90px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &.instagram {
                background:  linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            }

            &.facebook {
                background-color: #3B5998;
            }

            &.twitter {
                background-color: #55ACEE;
            }

            &.youtube {
                background-color: #BB0000;
            }

            &.linkedin {
                background-color: #007BB5;
            }
        }
    }
}