.our-public {
    background-color: white;
    padding: 70px 0;
    position: relative;

    @include large {
        &:after {
            display: block;
            content: "";
            width: 831px;
            height: 831px;
            background: rgba(252,175,23,0.1);
            border-radius: 50%;
            position: absolute;
            left: -613.5px;
            bottom: -560.5px;
        }
    }

    > div {
        display: flex;
        align-items: center;

        @include mobile {
            flex-flow: column;
        }
        
        .column.large-8 {
            margin-top: -130px;
            
            @include tablet {
                margin-top: 30px;
            }
        }
    }

    &--title {
        color: #231F20;
        font-size: 50px;
        letter-spacing: 0;
        line-height: 60px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: $f_title;
    }

    &--subtitle {
        margin-bottom: 30px;
    }

    &--subtitle, &--description {
        color: #231F20;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 25px;
    }

    &--buttons {
        margin-bottom: 60px;
        margin-top: 60px;

        

        .more {
            @extend .button-outline;
            display: inline-block;
            margin-right: 15px;
            padding: 15px 40px;
            text-transform: uppercase;
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            @include small {
                display: block;
                margin: 15px auto 25px;
                max-width: 200px;
                text-align: center;
                width: 70%;
            }
        }

        .join-us {
            @extend .button-solid;
            display: inline-block;
            margin-right: 0;
            padding: 15px 45px;
            text-transform: uppercase;
            transition: all .2s ease-in-out;

            @include small {
                display: block;
                margin: 15px auto 25px;
                max-width: 200px;
                text-align: center;
                width: 70%;
            }

        }

        @media (min-width: 992px) and (max-width: 1220px) {

            .more {
                margin-right: 5px;
            }

            .more,
            .join-us {
                font-size: 14px;
                padding: 15px 20px;
            }

        }
    }

    .pre-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        min-width: 95px;
        width: 95px;
        height: 95px;
        position: relative;

        

        @include tablet-landscape-up {
            height: 150px;
            width: 150px;
        }

        @include desktop-up {
            height: 190px;
            width: 190px;
        }
        
        button {
            display: none;

            i {
                color: #333333
            }

            @include tablet-landscape-up {
                display: block;
            }
        }   
    }

    .itens {
        align-items: initial;
        display: block;
        justify-content: center;
        grid-template-columns: auto;

        @include tablet-landscape-up {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;
        }

        @media (max-width: 991px) {
            align-items: initial;
        }

        .item {
            align-items: center;
            display: flex;
            flex-flow: row;
            margin-bottom: 20px;

            @include tablet-landscape-up {
                flex-flow: column;
            }

            &--title {
                display: none;
                padding: 0 30px;
                color: #333333;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 25px;
                text-transform: uppercase;

                @include tablet-landscape-up {
                    display: block;
                    font-size: 18px;
                    padding: 5px 20px 0;
                }

                @include desktop-up {
                    font-size: 22px;
                }

                &.mobile-title {
                    display: block;

                    @include tablet-landscape-up {
                        display: none;
                        margin: unset;
                        text-align: center;
                        max-width: 100%;
                    }
                }
            }

            &--content {
                height: 1px;
                opacity: 0;
                padding-bottom: 15px;
                padding-top: 15px;
                text-align: center;
                transition: all .2s ease-in-out;
                display: none;

                &.active {
                    display: block;
                    height: fit-content;
                    opacity: 1;
                    transition: all .2s ease-in-out;
                }
            }


            &--icon {
                img {
                    max-width: 60px;

                    @include tablet-landscape-up {
                        max-width: 40px;
                    }
                }
            }

            .expand-content {
                cursor: pointer;
                position: absolute;
                bottom: 0;
                font-size: 22px;
            }
        }

       
    }
}