.posts-sidebar {
    background: white;
    border-radius: 30px;
    padding: 40px 30px;

    &--title {
        text-align: center;
        color: #231F20;
        font-family: $f_title;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 36px;
        margin-bottom: 40px;    
    }
}