.filtro-posts {
    color: #231F20;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 50px;

    @include small {
        margin-bottom: 15px;
    }

    .title {
        margin-bottom: 50px;

        @include small {
            margin-bottom: 20px;
        }

    }

    .categories {
        a {
            color: #231F20;
            display: inline-block;
            margin-right: 40px;
            opacity: 0.5;
            transition: all .2s ease-in-out;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        .active {
            opacity: 1;
            color: #231F20;
            border-bottom: 3px solid #E9783D;
            display: inline-block;
            transition: all .2s ease-in-out;
            padding-bottom: 15px;
        }
    }
}

.categorical-posts {
   
}