.posts-list {
    .loading-posts {
        display: none;
        margin-bottom: 60px;

        &.active {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        > div {
            margin-bottom: 25px;
        }

        > span {
            font-size: 14px;
            color: rgba(35, 31, 32, 0.5);
        }
    }
}

