.posts-tabs {
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 35px 0 0;
    margin-bottom: 30px;

    @include tablet {
        margin-left: .625rem;
        margin-right: .625rem;
    }


    &--header {
        width: 75%;
        margin: auto;
        margin-bottom: 39px;

        .title {
            font-family: $f_title;
            color: #231F20;
            font-size: 30px;
            letter-spacing: 0;
            line-height: 36px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 50px;
                color: #333333;
                padding-right: 30px;
            }
        }

        .subtitle {
            color: #231F20;
            font-family: Roboto;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
            text-align: center;

        }
    }

    &--selector-tabs {
        background: #EEEEEE;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;

        button {
            padding: 12px 0;
            color: #231F20;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            opacity: 0.5;
            outline: none;
            border-bottom: 3px solid transparent;
            cursor: pointer;

            &.active {
                opacity: 1;
                border-bottom: 3px solid #E9783D;
            }
            @include tablet {
                font-size: 12px;
            }
        }
    }


    &--tabs {
        padding: 30px;
        overflow: hidden;

        @include small {
            padding: 30px 10px 30px 5px;
        }

        .tab {
            transform: translate(-200%, 0);
            transition: all .2s ease-in-out;
            height: 0;

            .nothing-found {
                text-align: center;
                color: #231F20;
                font-weight: bold;
                margin-bottom: 8px;

            }

            &.active {
                height: auto;
                transform: unset;
                transition: all .2s ease-in-out;
            }
            
            &.posts-list.horizontal {
                .card {
                    .date {
                        margin-bottom: 0px;
                    }
        
                    &--title {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
      
    }
}