.quotes-slider {
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    padding: 84.5px 0;
    margin-top: 90px;
    margin-bottom: 60px;
    position: relative;

    &:after {
        display: block;
        content: "";
        width: 831px;
        height: 831px;
        background: rgba(152,55,91,0.1);
        border-radius: 50%;
        position: absolute;
        right: -931px;
        bottom: -560.5px;
        z-index: -1;
    }
    
    &--header-icon {
        width: 95px;
        height: 95px;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #6E1F60 100%);
        background-color: #98375B;
        border-radius: 50%;        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: #FFFFFF;
        position: absolute;
        top: -42px;
        left: calc(50% - 47.5px);
    }

    .quotes {
        position: relative;

        &.column.large-8 {
            float: none;
            @include mobile {
                padding-left: 25px;
                padding-right: 25px;
            }
        }

        .quote {
            width: 100%;

            &--content {
                color: #333333;
                font-size: 28px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 38px;
                text-align: center;
                margin-bottom: 46px;

                @include tablet {
                    font-size: 20px;
                    font-weight: 28px;
                }
            }

            &--info {
                color: #333333;
                font-size: 18px;
                font-style: italic;
                letter-spacing: 0;
                text-align: right;
                align-items: center;
                display: flex;
                justify-content: flex-end;;

                @include tablet {
                    text-align: center;
                    flex-direction: column;
                }

                &:before {
                    content: "";
                    background-color: #98375B;
                    display: inline-block;
                    height: 5px;
                    overflow: hidden;
                    width: 30px;
                    border-radius: 10px;
                    margin-right: 28px;

                    @include tablet {
                        margin-right: 0;
                    }
                }

                &-author {
                    font-weight: 300;
                    line-height: 38px;
                    padding: 5px;
                }

            }
        }
    }

    .flickity-page-dots {
        left: 0;
        .dot {
            height: 8px;
            width: 8px;
            opacity: 0.3;
            background-color: #6E1F60;

            &.is-selected {
                opacity: 1;
            }
        }
    }

    button {
        position: absolute;
        &.previous, &.next {
            top: 50%;
            width: 59px;
            height: 59px;
            border-radius: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            background-color: #F5F5F5;
            color: #333333;
        }
        
        &.previous {
            left: -150px;
            @include mobile {
                height: 49px;
                left: -25px;
                width: 49px;
            }
        }

        &.next {
            right: -150px;
            @include mobile {
                height: 49px;
                right: -25px;
                width: 49px;
            }
        }
        
    }

    
}