.slider-section {
    position: relative;
    .block {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
        // max-height: calc(100vh - 123px);
        padding-bottom: 70px;
        width: 100%;
        color: white;
        height: 574px;

        @include mobile {
            text-align: center;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%), linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(65,50,119,0.8) 100%), linear-gradient(136.41deg, rgba(233,120,61,0.5) 0%, rgba(152,55,91,0.5) 24.33%, rgba(11,135,162,0.5) 50.68%, rgba(133,189,100,0.5) 75.68%, rgba(252,175,23,0.5) 100%); 
            opacity: .6; 
        }

        @include min-mobile {
            padding-left: 65px;
        }

        @include large {
            min-height: 574px;
            padding: 100px 0;
        }
        
        @include tablet {
            max-height: unset;
            height: auto;
            min-height: calc(100vh - 84px);
        }
        
        >.row {
            position: relative;
        }

        a {
            color: white;
            text-decoration: underline;
        }

        .title {
            @include tablet {
                // text-align: center;
                padding-top: 30px;

                h1 {
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            @include mobile {
                text-align: center;
            }
        }

        .content {
            margin-bottom: 45px;

            @include mobile {
                display: none;
            }
        }
        
        .slide-destination {
            @extend .button-outline;

            background: transparent;
            box-shadow: -1px 0 0 1px #E9783D,
            -1px -1px 0 1px #98375B,
            -1px 1px 0 1px #1AA29A,
            0 -1px 0 1px #85BD64;
            // box-shadow: 0px 2px 1px 0px #E9783D,
            // 0px -1px 0 1px #98375B,
            // 0px 1px 0 0px #1AA29A,
            // 0px -1px 0 0px #85BD64;
            color: #fff;

            @include mobile {
                margin-top: 35px;
            }
        }

    } // .block

    button.arrow-next,
    button.arrow-prev {
        position: absolute;
        height: 100%;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 22px;
        outline: none;
        height: 100%;
        width: 59px;
        z-index: 1;

        &:active {
            outline: none;
        }

        @include large {
            font-size: 22px;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.3);
            height: 39px;
            width: 39px;
            border-radius: 50%;

            @include large {
                height: 59px;
                width: 59px;
            }
        }
    }
    button.arrow-prev {
        left: 2%;

        @include large {
            left: 5%;
        }
    }

    button.arrow-next {
        right: 2%;

        @include large {
            right: 5%;
        }
    }

    .flickity-page-dots {
        bottom: 30px;

        li.dot.is-selected {
            background: white;
            opacity: 1;
        }

        li.dot {
            background: white;
            opacity: 0.4;
        }
    }

    // path.arrow {
    //     transform: scale(0.2);
    // }

    // button.flickity-button.flickity-prev-next-button.next path {
    //     transform: rotate(180deg) scale(0.2, -0.2) translate(-460px, 0);
    // }

}