.sectors {

    margin-bottom: 40px;
    position: relative;


    // Don't have the header image
    &--meta {
        align-items: center;
        display: flex;
        left: 0;
        padding: 0 30px;
        position: absolute;
        top: 30px;
        width: 100%;

        &-icon {
            align-items: center;
            background-color: red;
            display: flex;
            flex-direction: column;
            height: 95px;
            justify-content: center;
            width: 95px;
            @include border-radius(95px);

            img {
                height: auto;
                width: 46px;
            }
        }
    }

    &--wrap {
        background-color: $c_white;
        padding: 146px 30px 30px;
        color: #231F20;
        @include border-radius(30px);
        @include transition(all 0.2s ease-in-out);
        .btn {
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(136.41deg, #E9783D 0%, #98375B 24.33%, #1AA29A 50.68%, #85BD64 73.65%, #FCAF17 100%);
            border: 2px solid transparent;
            border-radius: 50px;
            background-origin: border-box;
            background-clip: content-box,
                border-box;
            box-shadow: 2px 1000px 1px #ffffff inset;
            color: #231F20;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 21px;
            margin: auto;
            padding: 15px 30px;
            text-transform: uppercase;
        }
    }

    &--title {
        padding: 0 0 0 20px;

        h2 {
            color: #333333;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }
    
    // Have the header image
    &.has-header-image {

        .sectors {

            &--header {
                @include border-radius(30px 30px 0 0);
                @include transition(all 0.2s ease-in-out);

                img {
                    @include border-radius(30px 30px 0 0);
                    height: 146px;
                    object-fit: cover;
                    width: 100%;
                }
            }

            &--meta {
                align-items: center;
                display: flex;
                left: 0;
                padding: 0 30px;
                position: absolute;
                top: 109px;
                width: 100%;

                &-icon {
                    align-items: center;
                    background-color: red;
                    display: flex;
                    flex-direction: column;
                    height: 95px;
                    justify-content: center;
                    width: 95px;
                    @include border-radius(95px);

                    img {
                        height: auto;
                        width: 46px;
                    }
                }
            }

            &--wrap {
                padding: 74px 30px 30px;
                @include border-radius(0 0 30px 30px);
            }

            &--title {
                padding: 60px 0 0 20px;
            }

        }

    }

    &:hover {
        .sectors {
            &--header {
                @include box-shadow(0 0 10px rgba(153, 153, 153, 0.5));
            }
            &--wrap {
                @include box-shadow(0 0 10px rgba(153, 153, 153, 0.5));
            }
        }
    }

}
