.page--share {
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    width: 52px;
    z-index: 1;

    @include tablet {
        top: auto;
        bottom: 0;
        transform: none;
        flex-direction: row;
        width: 100vw;
        left: 0;

        a {
            flex: 1;
        }
    }

    .fa-share-alt {
        margin-bottom: 32px;
        color: #010101;
        opacity: 0.30;
        text-align: center;

        @include tablet {
            display: none;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 0;
        margin-bottom: 10px;
        color: white;
        padding: 7px;
        transition: all .6s;
        background: #1AA29A;
        border-radius: 50%;
        transition: all .3s ease-in-out;

        &:hover {
            width: 52px;
            height: 52px;
            transition: all 0.2s;
            margin-top: 5px;
            margin-bottom: 13px;
        }

        @include tablet {
            border-radius: 0;
            margin-bottom: 0;
        }

    }
}