.simple-button {
    &-wrap {
        padding: 30px;
        text-align: center;
        @include mobile {
            padding: 30px 0;
        }
        .btn {
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            linear-gradient(136.41deg, #E9783D 0%, #98375B 24.33%, #1AA29A 50.68%, #85BD64 73.65%, #FCAF17 100%);
            border: 2px solid transparent;
            border-radius: 50px;
            background-origin: border-box;
            background-clip: content-box,
            border-box;
            box-shadow: 2px 1000px 1px #f5f5f5 inset;
            color: #231F20;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 21px;
            margin: auto;
            padding: 15px 30px;
            text-transform: uppercase;
        }
    }
}