.title-content {
    &--with-background {
        padding: 60px 30px;
        @include border-radius(30px);
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .title {
        @include min-mobile {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 15px;
        }
        h2 {
            color: $c_gray__darker;
            font-family: $f_title;
            padding-right: 25px;
            text-align: right;
        }
    }
    &-wrap {
        display: flex;
        margin: auto;
        @include mobile {
            flex-flow: row wrap;
        }

        .content {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }

    }
}