@mixin pseudo($el, $position, $orientation) {
    position: relative;

    &:#{$el}{
        content: '';
        position: absolute;

        @if (str-index($position, 'bottom')) {
            bottom: 0;
        }
        @if (str-index($position, 'top' )){
            top: 0;
        }
        @if (str-index($position, 'left')) {
            left: 0;
        }
        @if (str-index($position, 'right' )){
            right: 0;
        }
        @if (str-index($position, 'center')){
            @if($orientation == 'horizontal'){
                left: 50%;
                transform: translateX(-50%);
            }
            @if($orientation == 'vertical'){
                top: 50%;
                transform: translateY(-50%);
            }
        }

        @if(not str-index($position, 'center') and $orientation == 'horizontal'){
            width: 100%;
        }
        @if(not str-index($position, 'center') and $orientation == 'vertical'){
            height: 100%;
        }

        @content;
    }
}

@mixin proportional-image($proportion){
    width: 100%;
    padding-top: calc(100% / #{$proportion});
    background-position: center;
    background-size: cover;
}

@mixin reset-foundation-input{
    &, &:focus, &:active{
        box-shadow: none;
        height: auto;
        text-align: inherit;
    }
}

$small-width: 640px;
$mobile-width: 992px;
$tablet-width: 1024;
$desktop-width: 1300;
$large-width: 1600px;

@mixin small {
    @media (max-width: #{$small-width - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin min-mobile {
    @media (min-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet { 
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin min-tablet {
    @media (min-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}


@mixin large {
    @media (min-width: #{$large-width}) {
        @content;
    }
}

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}

// Adds new breakponints

$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;

@mixin phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
        @content;
    }
}

@mixin tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
        @content;
    }
}

@mixin tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
        @content;
    }
}

@mixin big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
        @content;
    }
}

// End new breakpoints


@mixin triangle($direction, $sizeH, $sizeV, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);
      
  @if $direction == top {
    border-width: 0 $sizeV $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottom{
    border-width: $sizeV $sizeH 0 $sizeV;
    border-color: $color transparent transparent transparent;
  }
  @if $direction == left{
    border-width: $sizeV $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == right{
    border-width: $sizeV 0 $sizeV $sizeH;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topright{
    border-width: 0 $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == bottomright{
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottomleft{
    border-width: $sizeH 0 0 $sizeV;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topleft{
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}

// Cross browser ‘cover’ mixin
@mixin cover($position) {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: $position;
    background-size: cover;
}

// Cross browser 'border-radius' mixin
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

// Cross browser 'box-shadow' mixin
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Cross browser 'transition' mixin
@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}