footer.main-footer {
    .footer-wrapper {
        background-color: white;
        padding: 40px 0;
        margin-top: 60px;
        border-radius: 30px 30px 0 0;

        .footer-header {
            display: flex;
            align-items: center;
            padding: 0 30px;

            @include tablet {
                padding: 0 .625rem;
                flex-flow: column;
            }

            .social-menu {
                @include tablet {
                    margin-bottom: 30px;
                    display:flex;
                    justify-content: center;
                }

                a {
                    margin-right: 20px;

                    @include large {
                        margin-right: 28px;
                    }

                    i {
                        color: #333333;
                        font-size: 22px;
                        letter-spacing: 0;
                        transition: all .2s ease-in-out;

                        &:hover {
                            color: $c_primary;
                            transition: all .2s ease-in-out;
                        }
                    }
                }
            }

            .logo {
                display: flex;
                justify-content: center;

                @include tablet {
                    margin-bottom: 30px;
                }
            }

            .search-form {
                >form {
                    display: flex;
                    border-bottom: 1px solid rgba(151, 151, 151, 0.3);

                    &:focus {

                        background: blue;

                    }

                    input[type=text] {
                        border: none;
                        box-shadow: none;
                        border-radius: 0;
                        margin-bottom: 0;
                    }

                    input[type=submit] {
                        background: none;
                        border: none;
                        color: #333333;
                        transition: all .2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            color: $c_primary;
                            transition: all .2s ease-in-out;
                        }

                    }
                }
            }
        }

        .footer-content {
            .footer-title {
                border-top: 1px solid #979797;
                padding-top: 10px;
                color: #333333;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 19px;
                margin-bottom: 13px;
            }

            .footer-menus {
                display: grid;
                grid-template-columns: auto;
                grid-column-gap: 25px;
                margin-top: 54px;
                padding: 0 30px;

                @include tablet-portrait-up {
                    grid-template-columns: repeat(2, 1fr);
                    padding: 0 .625rem;
                }

                @include tablet-landscape-up {
                    grid-template-columns: repeat(5, 1fr);
                }

                .menu-column {
                    @include tablet {
                        margin-bottom: 30px;
                    }

                    ul {
                        margin: 0;
                        list-style-type: none;

                        li {
                            margin-bottom: 8px;
                            display: block;

                            a {
                                color: #333333;
                                transition: all .2s ease-in-out;
                                padding-left: 0;
                                padding-bottom: 0;

                                &:hover {
                                    color: $c_primary;
                                    transition: all .2s ease-in-out;
                                }
                            }
                        }
                    }
                }


            }

            .footer-sponsored {
                @media (min-width: 1300px) { 
                    display: flex;
                    margin-top: 76px;
                    padding: 0 40px;
                }
                
                @include tablet {
                    flex-flow: column;
                    padding: 0 .625rem;
                    margin-top: 0;

                    img {
                        margin: 0 auto;
                        display: block;
                    }

                    > div {
                        margin-bottom: 30px;
                    }
                }

                .footer-title {
                    margin-bottom: 32px;
                }

                .comite {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-gap: 30px;
                    
                    @include large {
                        grid-gap: 50px;
                    }

                    @include tablet {
                        grid-template-columns: repeat(4, 1fr);
                        grid-gap: 25px;
                    }

                    @include small {
                        grid-gap: 15px;
                        grid-template-columns: auto;
                    }

                    @media (min-width: 1299px) {
                        grid-template-columns: repeat(5, 1fr);
                    }

                }
            }

            #gallery-1 img{
                border: none;
            }
            
            .hacklab {
                padding: 0 40px;
                display: flex;
                justify-content: flex-end;

                @include tablet {
                    margin-top: 50px;
                    justify-content: center;
                }
            }
        }
    }

}