.featured-header {
    background: linear-gradient(136.41deg, rgba(233,120,61,0.5) 0%, rgba(152,55,91,0.5) 24.33%, rgba(11,135,162,0.5) 50.68%, rgba(133,189,100,0.5) 75.68%, rgba(252,175,23,0.5) 100%);
    background-image: url($dir_assets + "images/featured-header.png");
    background-size: cover;
    background-color: rgba(51,51,51,0.5);
    text-align: center;
    color: white;
    padding: 68px 0;
    margin-bottom: 58px;
}