.header {
    width: 100%;
    height: 80px;
    padding: 5px 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    z-index: 2;

    &--content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logo {
            width: 70px;
            height: 70px;

            @include tablet {
                order: 1;
            }
        }

        .social-menu {
            @include tablet {
                display: none;
            }

            @include large {
                margin-right: 45px;
            }

            a {
                margin: 0 15px;

                i {
                    color: #010101;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 16px;
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        transition: all .2s ease-in-out;
                        color: $c_primary;
                    }
                }
            }
        }

        .search-form {      
            @include tablet {
                order: 2;
            }

            button {
                color: #333333;
                cursor: pointer;
                z-index: 1;
                position: relative;
            }

            input {
                border: none;
                font-size: 24px;
                padding-right: 30px;
                position: absolute;
                top: -85px;
                right: 0;
                margin: 0;
                height: 80px;
                width: calc(100% - 90px);
                transition: all .2s ease-in;

                &:focus {
                    box-shadow: none;
                }

                @include tablet {
                    width: calc(100% - 40px);
                    font-size: 18px;
                }

                &::placeholder {
                    opacity: 1;
                    color: #777777;
                }
            }

            &.active {
                input {
                    display: block;
                    top: -5px;
                    transition: all .2s ease-out;
                }
            }
        }

        .menu-wrapper {
            @include tablet {
                width: 100%;
                position: absolute;
                opacity: 0;
                visibility: hidden;
                left: 0;
                top: 75px;
                background: white;
                transition: all .2s ease-out;

                .menu {
                    display: block;
                }

                &.active {
                    transition: all .2s ease-out;
                    opacity: 1;
                    visibility: visible;
                }
            }

            ul {
                display: flex;
                list-style-type: none;
                margin: 0;

                @include large {
                    margin: 0 0 0 59px;
                }

                i {
                    color: $c_primary
                }

                li {
                    a {
                        padding: 15px 10px 15px 15px;
                        display: block;
                        transition: all .6s;
                        color: #333333;
                        font-family: $f_body;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 0;
                    }
                    
                    &.join-us {
                        a {
                            border: 2px solid $c_primary;
                            border-radius: 40px;
                            color: $c_primary;
                            font-size: 16px;
                            font-weight: bold;
                            letter-spacing: 0;
                            padding: 10px 20px;
                            transition: all .2s ease-in-out;
                            margin-left: 20px;
                            margin-right: 20px;

                            &:hover {
                                color: white;
                                background: $c_primary;
                                transform: scale(1.05);
                                transition: all .2s ease-in-out;
                            }
                        }

                        @include large {
                            margin-right: 20px;
                        }

                        @include tablet {
                            display: none;
                        }
                    }
                }

                >li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-right: 15px;

                    &:hover {
                        .sub-menu {
                            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
                            bottom: 5px;
                            opacity: 1;
                            pointer-events: all;
                        }
                    }

                    .sub-menu {
                        position: absolute;
                        z-index: 100;
                        bottom: -20px;
                        transform: translateY(100%);
                        background: whitesmoke;
                        min-width: 220px;
                        opacity: 0;
                        transition: all .6s;
                        pointer-events: none;
                        flex-direction: column;

                        a {
                            color: black;
                        }

                        a:hover {
                            color: $c_primary;
                        }

                        &:before {
                            @include triangle(top, 10px, 10px, whitesmoke);
                            top: -10px;
                            position: absolute;
                            left: 10px;
                        }
                    }
                }
            }
        }





        .hamburguer-menu {
            display: none;

            @include tablet {
                display: block;
            }

            .menu-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 10;
                transition: background-color .35s ease;
                outline: none;
                width: 30px;
                height: 30px;


                &:before {
                    content: "";
                    display: block;
                    width: 14px;
                    position: relative;
                    height: 2px;
                    background: #333333;
                    margin-bottom: 3px;
                    transition: transform .35s ease, border .25s ease, -webkit-transform .35s ease;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 14px;
                    position: relative;
                    height: 7px;
                    border-top: 2px solid #333333;
                    border-bottom: 2px solid #333333;
                    transition: transform .35s ease, border .25s ease, -webkit-transform .35s ease;
                }

                &.active {
                    background: white;

                    &:before {
                        transform: rotate(-45deg);
                        top: 1px;
                        background: #3d3d3d;
                        margin-bottom: 0px;
                    }

                    &:after {
                        border-top: 2px solid #3d3d3d;
                        border-bottom: 0px;
                        height: 2px;
                        top: -1px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    &.active {
        transition: all .2s ease-in-out;
        height: 100vh;
    }

    &.nav-up {
        top: -80px;
    }

}