.pagination-numbers{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border-top: 1px solid #979797;
    padding-top: 30px;
    padding-bottom: 10px;
    
    .page-numbers{
        color: #333333;
        font-family: $f_body;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 24px;
        margin: 2px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
    
        &:hover {
            color: #333333;
            
        }
        
        &.current{
            font-weight: bold;
            background-color: rgba(133,189,100,0.7);
        }
    }
}
